<div class="main-parent">
        <div class="form-wrap">
            <form action="/login" method="post">
                <h1><span>Login</span>Form</h1>
              
                <div class="single-input">
                    <input required type="text" id = "email" 
                    placeholder="Email address" name="email">
                </div>
                <div class="single-input">
                    <input required type="password" id = "pass" 
                    placeholder="Password" name="pass">
                </div>

                <div class="Submit-button">
                    <button class="button login">Login</button>
                </div>
                <div class="account-have">
                    <a href="#">Forget password</a>
                    <a href="home">Create an account</a>

                </div>
            </form>
        </div>
    </div>