<body>
     <p class="breadcrumbs"><span><span><a href="" >Trang chủ</a> » <span class="breadcrumb_last">Tài liệu</span></span></span></p>
    <section class="product"> 
          <h2 class="product-category">Học Sinh Tiêu Biểu</h2>
          <button class="pre-btn"><img src="img/arrow.png" alt=""></button>
          <button class="nxt-btn"><img src="img/arrow.png" alt=""></button>
          <div class="product-container">
              <div class="product-card">
                  <div class="product-image">
                      <img src="./img/thanhtich/NguyenVanA/NguyenVanA.jpg" class="product-thumb" alt="">
                      <button class="card-btn">Xem chi tiết</button>
                  </div>
                  <div class="product-info">
                      <h2 class="product-brand">Nguyễn Văn A– Giải Nhì HSG cấp TP môn Toán năm 2022-2023</h2>
                      
                      
                  </div>
              </div>
              <div class="product-card">
                  <div class="product-image">
                    
                      <img src="./img/thanhtich/PhungThiC/PhungThiC.jpg" class="product-thumb" alt="">
                      <button class="card-btn">Xem chi tiết</button>
                  </div>
                  <div class="product-info">
                      <h2 class="product-brand">Phùng Thị C– Giải Nhì HSG cấp TP môn Toán năm 2022-2023</h2>
                      
                    
                  </div>
              </div>
              <div class="product-card">
                  <div class="product-image">
                      
                      <img src="./img/thanhtich/CaoThiD/CaoThiD.jpg" class="product-thumb" alt="">
                      <button class="card-btn">Xem chi tiết</button>
                  </div>
                  <div class="product-info">
                      <h2 class="product-brand">Cao Thị D– Giải Nhì HSG cấp TP môn Toán năm 2022-2023</h2>
                      
                    
                  </div>
              </div>
              <div class="product-card">
                  <div class="product-image">
                      
                      <img src="./img/thanhtich/BuiVanE/BuiVanE.jpg" class="product-thumb" alt="">
                      <button class="card-btn">Xem chi tiết</button>
                  </div>
                  <div class="product-info">
                      <h2 class="product-brand">Bùi Văn E– Giải Nhì HSG cấp TP môn Toán năm 2022-2023</h2>
                      
                      
                  </div>
              </div>
              <div class="product-card">
                  <div class="product-image">
                      
                      <img src="./img/thanhtich/CaoVanF/CaoVanF.jpg" class="product-thumb" alt="">
                      <button class="card-btn">Xem chi tiết</button>
                  </div>
                  <div class="product-info">
                      <h2 class="product-brand">Cao Văn F– Giải Nhì HSG cấp TP môn Toán năm 2022-2023</h2>
                      
                      
                  </div>
              </div>
              <div class="product-card">
                  <div class="product-image">
                     
                      <img src="./img/thanhtich/NguyenThiB/NguyenThiB.jpg" class="product-thumb" alt="">
                      <button class="card-btn">Xem chi tiết</button>
                  </div>
                  <div class="product-info">
                      <h2 class="product-brand">Nguyễn Thị B– Giải Nhì HSG cấp TP môn Toán năm 2022-2023</h2>
                      
                      
                  </div>
              </div>
              <div class="product-card">
                  <div class="product-image">
                     
                      <img src="./img/thanhtich/NguyenVanK/NguyenVanK.jpg" class="product-thumb" alt="">
                      <button class="card-btn">Xem chi tiết</button>
                  </div>
                  <div class="product-info">
                      <h2 class="product-brand">Nguyễn Văn K - Giải Nhì HSG cấp TP môn Toán năm 2022-2023</h2>
                      
                    
                  </div>
             
                      
                     
                  </div>
              </div>
          </div>
      </section>

      <script src="script.js">
        
      </script>
</body>